@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "pixellet";
  src: url("./fonts/pixellet.ttf");
  unicode-range: unset;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "pixellet";
  background-color: #06CED9;
}
.e-multiselect.e-input-group .e-multi-select-wrapper {
  background-color: red;
}
* {
  box-sizing: border-box;
}
